{% extends "base.html" %}

{% block content %}

  <h2 class="pitch">Hi &#128075; Welcome to Bookle,</h2>
  <p class="pitch">where ebook searching is made easier.</p>
  <br/>  
  <p>Instead of needing to order or borrow a physical copy of a book, Bookle helps you find the online version of the book by searching it up for you (so you don't have to type it more than once).</p>

  <br/>

  <p>The free-to-read sources that are currently searched by Bookle are:</p>
  <ul>
  	<li>EpubLink</li>
  	<li>Open Library</li>
  	<li>San Jose Public Library</li>
  </ul>

  <br/>

  <p>The pay-to-read sources that are currently searched by Bookle are:</p>
  <ul>
  	<li>Google Play Books</li>
  </ul>

  <br/>

  <p><strong>Not sure what book to read? &#129300;</strong></p>
  <p>Browse books on GoodReads:</p>
  <ul>
    <li><a href="https://www.goodreads.com/genres" target="_blank">By Genre</a></li>
    <li><a href="https://www.goodreads.com/choiceawards/best-books-2019" target="_blank">By Year</a></li>
  </ul>

  {% include 'footer.html' %}

{% endblock %}
